<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :level %>
        <%= f.select :level, Card::LEVELS %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :color %>
        <%= f.select :color, Card::COLORS %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :points %>
        <%= f.select :points, Card::POINT_VALUES %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :cost_white %>
        <%= f.select :cost_white, Card::COST_VALUES %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :cost_blue %>
        <%= f.select :cost_blue, Card::COST_VALUES %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :cost_green %>
        <%= f.select :cost_green, Card::COST_VALUES %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :cost_red %>
        <%= f.select :cost_red, Card::COST_VALUES %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :cost_brown %>
        <%= f.select :cost_brown, Card::COST_VALUES %>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="row">
        <%= f.submit class: 'radius button expand' %>
    </div>
  </div>
<% end %>
